body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:184px;
  top:20px;
  width:886px;
  height:171px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:171px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:882px;
  word-wrap:break-word;
}
