@charset "UTF-8";
.container{overflow:hidden; width:100%;}
.upload_box{
  width:600px; height:400px; position:fixed; top:50%; left:50%; background:#fff; border:1px solid #ccc; 
  border-radius:3px; overflow-y:scroll; display:none; padding:20px; margin-left:-300px; margin-top:-200px; z-index:3;
}
.close_upload{width:30px; height:30px; display:block; position:absolute; right:10px; top:10px; text-align:center; line-height:30px; color:#ddd; cursor:pointer;}
.hide_upload,.show_upload{width:30px; height:30px; display:block; position:absolute; right:40px; top:10px; text-align:center; line-height:30px; color:#ddd; cursor:pointer;}
.uoload_status{height:50px; position:fixed; bottom:0; width:100%; display:none;}
.status_main{width:600px; height:50px; border:1px solid #ddd; border-radius:3px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);background: #f7f7f7;
   margin:0px auto; position:relative;}
.upload_box h1{font-size:16px; height:30px; line-height:30px;}
.fileupload-buttonbar{margin-bottom:10px;}
.fileupload-progress{margin-top:5px;}
.upload_list_box{height:200px; overflow:scroll;}